- content_for :head do
  %title Employees Information

/ Action Bar
= render "actions"

%h4 Employees Information
.row
  .col-xs-4.col-sm-3    
    .table-responsive  
      %table.table.table-striped.table-hover    
        %thead
          %tr
            %th Name
        %tbody
          = render "index"

- content_for(:aside) do
  = render "sidebar"