- content_for :head do
  %title All the Works details

%h4 Works details
%table.table.table-hover
  %tr
    %th Employee
    %th Project
    %th Date
    %th Work details
    %th Hours
  %tbody
    = render "index"

- content_for(:aside) do
  = render "sidebar"
