- content_for :head do
  %title Clients Information

%h4 All the Clients information
%table.table.table-hover
  %thead
    %tr
      %th Name
  %tbody
  	= render "index"

- content_for(:aside) do
  = render "sidebar"