- content_for :head do
  %title Projects Information

%h4 All Projects
%table.table.table-hover
  %thead
    %tr
      %th Project
  %tbody
    = render "index"

- content_for (:aside) do
  = render "sidebar"