- content_for :head do
  %title Projects Information
/ Action Bar
= render "actions"

%h4 All Projects
.row
  .col-xs-4.col-sm-3    
    .table-responsive  
      %table.table.table-striped.table-hover        
        %thead
          %tr
            %th Project
        %tbody
          = render "index"

- content_for (:aside) do
  = render "sidebar"