- content_for :head do
  %title Companies Information

%h4 Companies Information
%table.table.table-hover
  %thead
    %tr
      %th Name
  %tbody
    = render "index"

- content_for(:aside) do
  = render "sidebar"
